<h1>Hej EasyCoaching!</h1>
<p>
  Der er kommet en ny forespørgsel på et demo login til SETminton.dk.
  
  <ul>
    <li>Navn: <%= @options[:name] %></li>
    <li>Email: <%= @options[:email] %></li>
    <li>Mobil: <%= @options[:cell] %></li>
    <li>Klub: <%= @options[:club] %></li>
    <li>Rolle: <%= @options[:role] %></li>
  </ul>
</p>

<p>Husk at få sendt en mail ASAP! </p>