<fieldset>
  <legend>Personlige oplysninger</legend>
  <div class="row-fluid">
    <div class="span3">
      <%= edit.label :first_name, "Fornavn" %>
      <%= edit.text_field :first_name, :placeholder => "Fornavn", :disabled => true %>

      <%= edit.label :birth_day, "Fødselsdato" %>
      <%= edit.date_select :birth_day, { :placeholder => "Fødselsdato", :start_year => 1900 }, { :class => "span4", :disabled => true } %>
    </div>
    <div class="span3">
      <%= edit.label :last_name, "Efternavn" %>
      <%= edit.text_field :last_name, :placeholder => "Efternavn", :disabled => true %>

      <%= edit.label :gender, "Køn" %>
      <%= edit.label :gender, :class => "radio inline" do %>
        <%= edit.radio_button :gender, true, :disabled => true %>
        Mand
      <% end %>

      <%= edit.label :gender, :class => "radio inline" do %>
        <%= edit.radio_button :gender, false, :disabled => true %>
        Kvinde
      <% end %>
    </div>

    <div class="span6">
      <% if @user.profile_picture.nil? %>
        <%= image_tag "profile.gif", :class => "img-polaroid pull-right" -%>
      <% else %>
        <%= image_tag @user.profile_picture.url(:thumb), :class => "img-polaroid pull-right" -%>
      <% end %>
      <%= edit.label :profile_picture, "Profilbillede" %>
      <%= edit.file_field :profile_picture %>
    </div>
</fieldset>

<fieldset>
  <legend>Kontaktoplysninger</legend>
  
  <%= link_to '#', :class => "btn btn-small add_address" do %>
    <i class='icon-plus'></i> Tilføj ekstra adresse
  <% end %>
  <div class="clearfix"></div>
  <br>

  <%= edit.fields_for :addresses do |builder| %>
    <%= render "address_fields", :f => builder %>
  <% end %>
</fieldset>

<fieldset>
  <legend>Kontooplysninger</legend>
    <div class="fields">
    <div class="row-fluid">
      <div class="span3">
        <%= edit.label :login, "Brugernavn" %>
        <%= text_field_tag :login, @current_user.login %>
      </div>

      <div class="span3">
        <%= edit.label :password, "Adgangskode" %>
        <%= edit.password_field :password, :placeholder => "Ny adgangskode" %>
      </div>

      <div class="span3">
        <%= edit.label :password_confirmation, "Bekræft" %>
        <%= edit.password_field :password_confirmation, :placeholder => "Bekræft den nye adgangskode" %>
      </div>
    </div>
  </div>
</fieldset>

<br>

<fieldset>
  <legend>Kluboplysninger</legend>
  <div class="fields">
    <div class="row-fluid">
      <div class="span3">
        <%= edit.label :id, "Medlemsnr." %>
        <%= text_field_tag :id, @user.id, :disabled => true  %>

        <%= edit.label :age_group, "Årgang" %>
        <%= text_field_tag :age_group, nil, :disabled => true  %>
      </div>

      <div class="span3">
        <%= edit.label :category, "Kategori" %>
        <%= text_field_tag :category, nil, :disabled => true  %>

        <%= edit.label :enrollment, "Indmeldelsesdato" %>
        <%= text_field_tag :enrollment, nil, :disabled => true  %>
      </div>

      <div class="span3">
        <%= edit.label :last_amount_paid, "Sidste betalte kontinget beløb" %>
        <%= text_field_tag :last_amount_paid, nil, :disabled => true %>

        <%= edit.label :last_amount_paid_date, "Sidste betalte kontinget dato" %>
        <%= text_field_tag :last_amount_paid_date, nil, :disabled => true  %>
      </div>
    </div>
  </div>
</fieldset>

<% content_for :scripts do %>
  <script>
    function remove_address(link) {
      $(link).prev("input[type=hidden]").val("1");
      $(link).closest(".fields").slideUp();
    }
    $(".remove_address").click(function(e) {
      remove_address(this);
      e.preventDefault();
    });
  
    $(".add_address").click(function (e) {
      var content = "<%= add_fields_data(edit, :addresses).html_safe -%>";
      var new_id = new Date().getTime();
      var regexp = new RegExp("new_addresses", "g");

      $(this).parent().append(content.replace(regexp, new_id));
      $("#user_addresses_attributes_" + new_id + "__destroy").closest(".fields").hide().slideDown();

      $(".remove_address").click(function() {
        remove_address(this);
      });
      
      e.preventDefault();
    });
  </script>
<% end %>
