<div class="control-group">
  <%= form.label :login, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :login %>
  </div>
</div>

<div class="control-group">
  <%= form.label :email, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :email %>
  </div>
</div>

<div class="control-group">
  <%= form.label :password, (form.object.new_record? ? nil : "Change password"), :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :password %>
  </div>
</div>

<div class="control-group">
  <%= form.label :password_confirmation, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :password_confirmation %>
  </div>
</div>
