<li class="dropdown-submenu">
  <a tabindex="-1" href="#">Regnskab</a>
  <ul class="dropdown-menu">
    <li><%= link_to "Kontoplan", root_path %></li>
    <li><%= link_to "Kassekladde", root_path %></li>
    <li><%= link_to "Bogføringsjournal", root_path %></li>
    <li><%= link_to "Resultatopgørelse", root_path %></li>
    <li><%= link_to "Balance", root_path %></li>
    <li><%= link_to "Årsregnskab", root_path %></li>
    <li><%= link_to "Budget", root_path %></li>
  </ul>
</li>