<nav class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "Forside", root_path %></li>
      <li><%= link_to "Om SETminton", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "Lej en bane", about_path %></li>
      <li><%= link_to "Indmeldelse i en klub", about_path %></li>
      <li><%= link_to "Prøv en demo?", demo_path %></li>
    </ul>
  </div>
</nav>
<%- if body_id == "front-page" -%>
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag "front-page/badminton.png", :alt => "Badminton" %>
      </div>

      <div class="item">
        <%= image_tag "front-page/badminton.png", :alt => "Badminton" %>
      </div>
    </div>
  </div>
  <%- content_for :scripts do -%>
  <script> 
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 10000
      });
    });
  </script>
  <%- end -%>
<%- end -%>
